In [17]:
import pandas as pd

In [18]:
insurance_data=pd.read_csv(r'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [19]:
insurance_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [20]:
insurance_data.shape

(4008, 11)

In [21]:
insurance_data.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [22]:
insurance_data['Customer Lifetime Value'] = insurance_data['Customer Lifetime Value'].str.rstrip('%').astype('float')

In [28]:
insurance_data.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [34]:
insurance_data['GENDER'].value_counts()

F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

In [35]:
insurance_data['ST'].value_counts()

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [36]:
insurance_data['Education'].value_counts()

Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

In [37]:
insurance_data['Policy Type'].value_counts()

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [38]:
insurance_data['Vehicle Class'].value_counts()

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

In [47]:
insurance_data['Income'].min()

0.0

In [48]:
insurance_data['Income'].max()

99960.0

In [49]:
insurance_data['Monthly Premium Auto'].min()

61.0

In [50]:
insurance_data['Monthly Premium Auto'].max()

35354.0

In [52]:
insurance_data['Total Claim Amount'].min()

0.382107

In [53]:
insurance_data['Total Claim Amount'].max()

2893.239678

In [54]:
insurance_data['Income'].mean()

39295.70121381886

In [55]:
insurance_data['Income'].median()

36234.0

In [75]:
insurance_data['Income'].mode()

0    0.0
Name: Income, dtype: float64

In [58]:
insurance_data['Income'].std()

30469.42706040185

In [60]:
insurance_data['Monthly Premium Auto'].mean()

193.234360410831

In [76]:
insurance_data['Monthly Premium Auto'].mode()

0    65.0
Name: Monthly Premium Auto, dtype: float64

In [62]:
insurance_data['Monthly Premium Auto'].median()

83.0

In [63]:
insurance_data['Monthly Premium Auto'].std()

1601.190368577621

In [77]:
insurance_data['Total Claim Amount'].mean()

404.98690940896364

In [78]:
insurance_data['Total Claim Amount'].mode()

0    321.6
Name: Total Claim Amount, dtype: float64

In [65]:
insurance_data['Total Claim Amount'].median()

354.729129

In [66]:
insurance_data['Total Claim Amount'].std()

293.0272599264041

In [67]:
insurance_data['Customer Lifetime Value'].mean()

793690.2593445693

In [79]:
insurance_data['Customer Lifetime Value'].mode()

0    251459.20
1    445811.34
Name: Customer Lifetime Value, dtype: float64

In [68]:
insurance_data['Customer Lifetime Value'].median()

588174.235

In [69]:
insurance_data['Customer Lifetime Value'].std()

643478.4102780647

In [71]:
insurance_data['Income'].quantile([0.25, 0.5, 0.75])

0.25    14072.0
0.50    36234.0
0.75    64631.0
Name: Income, dtype: float64

In [72]:
insurance_data['Monthly Premium Auto'].quantile([0.25, 0.5, 0.75])

0.25     68.0
0.50     83.0
0.75    109.5
Name: Monthly Premium Auto, dtype: float64

In [73]:
insurance_data['Total Claim Amount'].quantile([0.25, 0.5, 0.75])

0.25    202.157702
0.50    354.729129
0.75    532.800000
Name: Total Claim Amount, dtype: float64

In [74]:
insurance_data['Customer Lifetime Value'].quantile([0.25, 0.5, 0.75])

0.25    403407.9950
0.50    588174.2350
0.75    896287.1975
Name: Customer Lifetime Value, dtype: float64

In [85]:
insurance_data['ST'].value_counts()

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [86]:
insurance_data['GENDER'].value_counts()

F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

In [87]:
insurance_data['Education'].value_counts()

Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

In [88]:
insurance_data['Policy Type'].value_counts()

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [90]:
insurance_data['Vehicle Class'].value_counts()

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

In [ ]:
#there are 5 categorical data columns:State, Gender, Education(ordinal), Policy Type, Vehicle Class(ordinal)

In [ ]:
# looking at the value count for the state column, these are the last 5 states:
# Cali          120
# Nevada         98
# Washington     81
# WA             30
# AZ             25

In [102]:
datan = pd.DataFrame(insurance_data['ST'].value_counts())

In [103]:
datan

             ST
Oregon      320
California  211
Arizona     186
Cali        120
Nevada       98
Washington   81
WA           30
AZ           25

In [107]:
values = [datan['ST']]

In [108]:
values

[Oregon        320
 California    211
 Arizona       186
 Cali          120
 Nevada         98
 Washington     81
 WA             30
 AZ             25
 Name: ST, dtype: int64]

In [113]:
insurance_data['Policy Type'].value_counts()

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [119]:
datan = pd.DataFrame(insurance_data['Policy Type'].value_counts())

In [124]:
datan.reset_index()

            index  Policy Type
0   Personal Auto          780
1  Corporate Auto          234
2    Special Auto           57

In [128]:
datan.reset_index(inplace=True)

In [129]:
datan

            index  Policy
0   Personal Auto     780
1  Corporate Auto     234
2    Special Auto      57

In [130]:
datan.columns=['Policy','Sold']

In [131]:
datan

           Policy  Sold
0   Personal Auto   780
1  Corporate Auto   234
2    Special Auto    57

In [132]:
datan['Sold'].idxmax()

0

In [134]:
datan._get_value(0,"Sold")

780

In [135]:
datan._get_value(0,"Policy")

'Personal Auto'

In [137]:
data2 = insurance_data.copy()

In [139]:
data2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323